body{
    text-align: center;
}

div{
    height: 150px;
    width: 100px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 700px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:center;
    /* flex-wrap: wrap; */
    align-items: flex-start;
    /*align-content :center;*/

}

.box1{
    background: aqua;
    /* flex-shrink: 2; */
}
.box2{
    background: pink;
    height: 100px;
   /* align-self: flex-end;*/
     flex-shrink: 0;  /* Two time small ((eska utna hee size ka liya 0)) */
    
}
.box3{
    background: brown;
    flex-grow:2;
    
}
.box4{
    background: red;
    
}
.box5{
    background: blue;
    /*align-self: flex-end;*/
}