.loader{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid blue;
    border-top: 10px solid black;  /*you give only TOP side boder with border-left*/
    animation: spinanimate 1s ease 0s infinite normal;
   
}
@keyframes spinanimate {
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg);
    }
}